# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so

# Build/installation files
build/
dist/
*.egg-info/
*.egg

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Large data files
*.dll
*.lib
*.pkl
*.h5
*.npy
*.mp4
*.mov

# System files
.DS_Store
Thumbs.db